div{
    height:100px;
    width:100px;
    background-color: green;
    border-radius: 50%;
}
/*#one{
    height:100px;
    width:100px;
    background-color: red;
    border-radius: 50%;
}
#two{
    height:100px;
    width:100px;
    background-color: orange;
    border-radius: 50%;
}
#three{
    height:100px;
    width:100px;
    background-color: green;
    border-radius: 50%;
}
*{
    background-color: black;
    height:50px;
    width:50px;

}*/