#one{
    height:200px;
    width:50px;
    background-color: aqua;
    font-size:10px;
}
#two{
   height:100px;
   width:10%;
   background-color: chartreuse;
   font-size: 1em;
   width: 2rem;
   
}